<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vinyl Collection Tracker</title>
  <link rel="icon" href="{{ url_for('static', filename='vinyl.png') }}" type="image/x-icon">
  <link rel='stylesheet' href={{ url_for('static', filename='index.css') }}/>
</head>
<body>
  
  <nav>
    {% if user %}
      <div class="nav-items">
        <ul>
          <li><a class="nav-button" href='/home'>home</a></li>
          <li><a class="nav-button" href='/profile'>profile</a></li>
          <li><a class="nav-button" href='/logout'>logout</a></li>
        </ul> 
      </div>
    {% else %}
      <div class="nav-items">
        <ul>
          <form method='POST'>
            <button type='submit' id="discog_login">Login Through Discogs</button>
          </form>
        </ul> 
      </div>
    {% endif %}
  </nav>

  <div class='content'>
    {% block content%}

    {% endblock %}
  </div>

  <script>
    {% if discogs_data is defined %}
      console.log({{ discogs_data | tojson }});
    {% else %}
      console.log("discogs_data is not defined");
    {% endif %}
  </script>

</body>

</html>
