{% extends "base.html" %}

{%block content%} 

  {% if user %}
    <div class='header'>
      <h2>Welcome back, {{ user['username'] }}</h2>
    </div>
    <div class="vinyls">
      {% if discogs_data %}
        {% for vinyl in discogs_data %}
          <div class='vinyl-container'>
            <h4>{{vinyl['title']}}</h4>
            <img alt='thumb' src="{{vinyl['thumb']}}" />
          </div>
        {% endfor %}
      {% endif %}
    </div>

  {% else %}
    <p>You are not logged in.</p>
  {% endif %}

{% endblock %}