{% extends "base.html" %}

{% block content %}

  {% if user %}
    <div class='header'>
      <h2>{{ user['username'] }}, explore all of your saved collections!</h2>
    </div>

    <div class="vinyls">
        <div class="folders">
          {% if discogs_data %}
            {% for folder_name, collections in discogs_data.items() %}
              <h2>{{ folder_name }}</h2>
              <div class="collection-container">
                {% for collection in collections %}
                  <div class='vinyl-container'>
                    <h3>{{ collection['basic_information']['title'] }}</h3>
                    <p>{{ collection['basic_information']['artists'][0]['name'] }}</p>
                    <img alt='thumb' src="{{ collection['basic_information']['thumb'] }}" />
                    <p>{{ collection['basic_information']['year'] }}</p>
                    <a class="nav-button" href="/remove-from-collection?folder={{collection['folder_id']}}&release={{collection['id']}}&instance={{collection['instance_id']}}">Remove From Collection</a>
                  </div>

                {% endfor %}
              </div>
            {% endfor %}
          {% else %}
            <p>You have no saved collections.</p>
          {% endif %}
        </div>
    </div>
  {% else %}
    <p>You are not logged in.</p>
  {% endif %}

{% endblock %}
