body, html {
  height:100%;
  display: grid;
  grid-template-rows: 10% 55% 20%;
  grid-template-columns: 100%;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  line-height: 1.5;
  background-color: #eeeeee;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

.header {
  grid-area: header;
  display: inline-flexbox;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d9;
  margin: 5px;
  padding: 10px 1%;
}

#login {
  position: fixed;
  list-style: none;
  top: 30px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  background-color: #469C33; 
  color: black; /* Text color */
  padding: 10px 20px; /* Adjust padding to fit your content */
  border: none;
  border-radius: 5px;
  text-decoration: none; /* Remove underline from link */
  font-size: 16px; /* Adjust font size */
}

#login:hover {
  background-color: #89339c; /* Darker blue on hover */
}

#home {
  position: fixed;
  list-style: none;
  top: 30px; /* Adjust as needed */
  right: 105px; /* Adjust as needed */
  background-color: #469C33; 
  color: black; /* Text color */
  padding: 10px 20px; /* Adjust padding to fit your content */
  border: none;
  border-radius: 5px;
  text-decoration: none; /* Remove underline from link */
  font-size: 16px; /* Adjust font size */
}

#home:hover {
  background-color: #89339c; /* Darker blue on hover */
}

#logout {
  position: fixed;
  list-style: none;
  top: 30px; /* Adjust as needed */
  right: 195px; /* Adjust as needed */
  background-color: #469C33; 
  color: black; /* Text color */
  padding: 13px 20px; /* Adjust padding to fit your content */
  border: none;
  border-radius: 5px;
  text-decoration: none; /* Remove underline from link */
  font-size: 16px; /* Adjust font size */
}

#logout:hover {
  background-color: #89339c; /* Darker blue on hover */
}