body, html {
  height:100%;
  display: grid;
  grid-template-rows: 10% 55% 20%;
  grid-template-columns: 100%;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  line-height: 1.5;
  background-color: #eeeeee;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d9;
  border: solid;
  border-radius: 5px;
  border-color: #89339c;
  margin: 5px 0;
  padding: 10px 1%;
}

.nav-button {
  position: static;
  top: auto;
  right: inherit;
  display: inline-block;
  padding: 10px 20px;
  background-color: #469C33;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #89339c;
}

.nav-items ul {
  display: flex;
  width: 60%;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 10px; 
  margin: 0;
  padding: 0;
  top: 50px; 
  right: 50px;
  position: absolute;
  z-index: 9999;
}


.vinyls {
  display: flex;
  flex-wrap: wrap;
  background-color: #d9d9d9;
  justify-content: space-evenly;
  align-items: stretch;
  color: #33599c;
  border-style: solid;
  border-radius: 5px;
  border-color: #33599c;
  
}

.vinyl-container {
  width: calc(25% - 20px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.vinyl-container img {
  width: 150px; 
  height: 150px;
}

.folders {
  clear: both;
}

.collection-container {
  display: flex;
  flex-wrap: wrap;
}

.album-container {
  width: 200px; /* Set your desired width */
  margin: 10px; /* Add some margin for spacing */
}
.search-bar-con {
  margin: 20px auto; /* Adjust margin as needed */
}

.search-container {
  display: flex;
  width: 100%;
  max-width: 600px;
}

.search-form {
  flex: 1;
  display: flex;
}

.search-input {
  flex: 1;
  padding: 10px;
}

.search-input:focus {
  outline-color: #89339c; 
}

.search-button {
  padding: 10px 20px;
  background-color: #469C33;
  color: black;
  text-align: center;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #89339c;
}